<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chatapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA"
        android:required="true"
        android:requiredFeature="true"
        tools:targetApi="o" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/chatlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/chatlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatApp">
        <activity
            android:name=".ProfileLoginActivity"
            android:exported="false" />
        <activity
            android:name=".RoomCallActivity"
            android:exported="false" />
        <activity
            android:name=".WebrtcActivity"
            android:exported="false" />
        <activity
            android:name=".VideoCallOutgoing"
            android:exported="false" />
        <activity
            android:name=".VideoCallIncoming"
            android:exported="false" />
        <activity
            android:name=".ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".accountLogin.SetUpActivity"
            android:exported="true" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".accountLogin.SignUp"
            android:exported="false" />
        <activity
            android:name=".accountLogin.LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>


        <service android:name=".notification.FirebaseService"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>


    </application>

</manifest>